* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.all {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  background-color: white;
}

:root {
  --pp_regular: PP_regular;
  --pixel: pixel;
  --darkModeTransition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.light_theme {
  --textColor: black;
  --backgroundColor: white;
}

.dark_theme {
  --textColor: white;
  --backgroundColor: black;
}

body {
  transition: var(--darkModeTransition);
  background: var(--backgroundColor);
  color: var(--textColor);
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-1-2 {
  flex: 0 0 auto;
  width: 10%;
}

.col-1-5 {
  flex: 0 0 auto;
  width: 12.5%;
}

.col-1-8 {
  flex: 0 0 auto;
  width: 15%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-2-1 {
  flex: 0 0 auto;
  width: 17.5%;
}

.col-2-3 {
  flex: 0 0 auto;
  width: 19.166%;
}

.col-2-5 {
  flex: 0 0 auto;
  width: 20.83333%;
}

.col-2-8 {
  flex: 0 0 auto;
  width: 23.3333333%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-3-5 {
  flex: 0 0 auto;
  width: 29.1666%;
}

.col-3-8 {
  flex: 0 0 auto;
  width: 31.666666%;
}

.col-3-9 {
  flex: 0 0 auto;
  width: 32.5%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-4-5 {
  flex: 0 0 auto;
  width: 37.5%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-5-5 {
  flex: 0 0 auto;
  width: 45.833333%;
}

.col-5-8 {
  flex: 0 0 auto;
  width: 48.333333%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-6-5 {
  flex: 0 0 auto;
  width: 54.166666%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-8-5 {
  flex: 0 0 auto;
  width: 70.83333%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-9-5 {
  flex: 0 0 auto;
  width: 79.166666%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-10-5 {
  flex: 0 0 auto;
  width: 87.5%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.col-1-8 {
  flex: 0 0 auto;
  width: 15%;
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-7-5 {
    flex: 0 0 auto;
    width: 62.5%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-lg-0-5 {
    flex: 0 0 auto;
    width: 4.16666666%;
  }
  .col-lg-0-8 {
    flex: 0 0 auto;
    width: 6.6666%;
  }
  .col-lg-0-7 {
    flex: 0 0 auto;
    width: 5.83333%;
  }
  .col-lg-1-2 {
    flex: 0 0 auto;
    width: 10%;
  }
  .col-lg-1-5 {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .col-lg-1-8 {
    flex: 0 0 auto;
    width: 15%;
  }
  .col-lg-2-2 {
    flex: 0 0 auto;
    width: 18.333333%;
  }
  .col-lg-2-4 {
    flex: 0 0 auto;
    width: 20%;
  }
  .col-lg-2-5 {
    flex: 0 0 auto;
    width: 20.8333333%;
  }
  .col-lg-2-8 {
    flex: 0 0 auto;
    width: 23.3333333%;
  }
  .col-lg-3-5 {
    flex: 0 0 auto;
    width: 29.16666666%;
  }
  .col-lg-3-8 {
    flex: 0 0 auto;
    width: 31.6666%;
  }
  .col-lg-4-5 {
    flex: 0 0 auto;
    width: 37.5%;
  }
  .col-lg-5-5 {
    flex: 0 0 auto;
    width: 45.8333%;
  }
  .col-lg-5-8 {
    flex: 0 0 auto;
    width: 48.3333333%;
  }
  .col-lg-5-9 {
    flex: 0 0 auto;
    width: 49.1666%;
  }
  .col-lg-6-5 {
    flex: 0 0 auto;
    width: 54.16666666%;
  }
  .col-lg-9-5 {
    flex: 0 0 auto;
    width: 79.16666%;
  }
}
.preloaderdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9999999999999;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9) !important;
}
.preloaderdiv .preloader {
  border: 10px solid #f3f3f3;
  border-radius: 100%;
  border-top: 10px solid #0055b0;
  width: 100px;
  height: 100px;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: PP_regular;
  src: url(./assets/fonts/PPNeueMachina-InktrapRegular.otf);
}
@font-face {
  font-family: pixel;
  src: url(./assets/fonts/PixelColeco.otf);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  font-family: var(--pp_regular);
  font-weight: 400;
  font-size: 23px;
  padding: 0;
  margin: 0;
  width: 100%;
}
#header .all {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 80px auto;
  -moz-column-gap: 150px;
       column-gap: 150px;
}
#header .all .imgkeeper img {
  width: 100%;
}
#header .all ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=App.css.map */