//#region main things

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        color: black;
    }
}

div {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.all {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
}

:root {
    --pp_regular: PP_regular;
    --pp_light: PP_light;
    --pixel: pixel;
    --pp_plain: PP_plain;
    --darkModeTransition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    --textColor: black;
    --backgroundColor: white;
    --otherTextColor: white;
    --otherBackgroundColor: black;
}

//#endregion main things

//#region dark and light theme

.dark_theme {
    --textColor: white;
    --backgroundColor: black;
    --otherTextColor: black;
    --otherBackgroundColor: white;
}

body {
    transition: var(--darkModeTransition);
    background: var(--backgroundColor);
    color: var(--textColor);
}

//#endregion dark and light theme

//#region custom cols

@media (min-width:576px) and (max-width: 992px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-md-1-2 {
        flex: 0 0 auto;
        width: 10%;
    }

    .col-md-1-5 {
        flex: 0 0 auto;
        width: 12.5%;
    }

    .col-md-1-8 {
        flex: 0 0 auto;
        width: 15%;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-md-2-1 {
        flex: 0 0 auto;
        width: 17.5%;
    }

    .col-md-2-3 {
        flex: 0 0 auto;
        width: 19.166%;
    }

    .col-md-2-5 {
        flex: 0 0 auto;
        width: 20.83333%;
    }

    .col-md-2-8 {
        flex: 0 0 auto;
        width: 23.3333333%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-3-5 {
        flex: 0 0 auto;
        width: 29.1666%;
    }

    .col-md-3-8 {
        flex: 0 0 auto;
        width: 31.666666%;
    }

    .col-md-3-9 {
        flex: 0 0 auto;
        width: 32.5%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-md-4-5 {
        flex: 0 0 auto;
        width: 37.5%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-md-5-5 {
        flex: 0 0 auto;
        width: 45.833333%;
    }

    .col-md-5-8 {
        flex: 0 0 auto;
        width: 48.333333%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-6-5 {
        flex: 0 0 auto;
        width: 54.166666%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-md-8-5 {
        flex: 0 0 auto;
        width: 70.83333%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-9-5 {
        flex: 0 0 auto;
        width: 79.166666%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-md-10-5 {
        flex: 0 0 auto;
        width: 87.5%;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .col-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-1-2 {
        flex: 0 0 auto;
        width: 10%;
    }

    .col-1-5 {
        flex: 0 0 auto;
        width: 12.5%;
    }

    .col-1-8 {
        flex: 0 0 auto;
        width: 15%;
    }

    .col-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-2-1 {
        flex: 0 0 auto;
        width: 17.5%;
    }

    .col-2-3 {
        flex: 0 0 auto;
        width: 19.166%;
    }

    .col-2-5 {
        flex: 0 0 auto;
        width: 20.83333%;
    }

    .col-2-8 {
        flex: 0 0 auto;
        width: 23.3333333%;
    }

    .col-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-3-5 {
        flex: 0 0 auto;
        width: 29.1666%;
    }

    .col-3-8 {
        flex: 0 0 auto;
        width: 31.666666%;
    }

    .col-3-9 {
        flex: 0 0 auto;
        width: 32.5%;
    }

    .col-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-4-5 {
        flex: 0 0 auto;
        width: 37.5%;
    }

    .col-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-5-5 {
        flex: 0 0 auto;
        width: 45.833333%;
    }

    .col-5-8 {
        flex: 0 0 auto;
        width: 48.333333%;
    }

    .col-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-6-5 {
        flex: 0 0 auto;
        width: 54.166666%;
    }

    .col-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-8-5 {
        flex: 0 0 auto;
        width: 70.83333%;
    }

    .col-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-9-5 {
        flex: 0 0 auto;
        width: 79.166666%;
    }

    .col-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-10-5 {
        flex: 0 0 auto;
        width: 87.5%;
    }

    .col-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-lg-7-5 {
        flex: 0 0 auto;
        width: 62.5%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-lg-0-5 {
        flex: 0 0 auto;
        width: 4.16666666%;
    }

    .col-lg-0-8 {
        flex: 0 0 auto;
        width: 6.6666%;
    }

    .col-lg-0-7 {
        flex: 0 0 auto;
        width: 5.83333%;
    }

    .col-lg-1-2 {
        flex: 0 0 auto;
        width: 10%;
    }

    .col-lg-1-5 {
        flex: 0 0 auto;
        width: 12.5%;
    }

    .col-lg-1-8 {
        flex: 0 0 auto;
        width: 15%;
    }

    .col-lg-2-2 {
        flex: 0 0 auto;
        width: 18.333333%;
    }

    .col-lg-2-4 {
        flex: 0 0 auto;
        width: 20%;
    }

    .col-lg-2-5 {
        flex: 0 0 auto;
        width: 20.8333333%;
    }

    .col-lg-2-8 {
        flex: 0 0 auto;
        width: 23.3333333%;
    }

    .col-lg-3-5 {
        flex: 0 0 auto;
        width: 29.16666666%;
    }

    .col-lg-3-8 {
        flex: 0 0 auto;
        width: 31.6666%;
    }

    .col-lg-4-5 {
        flex: 0 0 auto;
        width: 37.5%;
    }

    .col-lg-5-5 {
        flex: 0 0 auto;
        width: 45.8333%;
    }

    .col-lg-5-8 {
        flex: 0 0 auto;
        width: 48.3333333%;
    }

    .col-lg-5-9 {
        flex: 0 0 auto;
        width: 49.1666%;
    }

    .col-lg-6-5 {
        flex: 0 0 auto;
        width: 54.16666666%;
    }

    .col-lg-9-5 {
        flex: 0 0 auto;
        width: 79.16666%;
    }
}

//#endregion custom cols

//#region preloader

.preloaderdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999999999999;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1) !important;

    .preloader {
        border: 10px solid #f3f3f3;
        border-radius: 100%;
        border-top: 10px solid #00FF00;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

//#endregion preloader

//#region fonts
@font-face {
    font-family: PP_regular;
    src: url(./assets/fonts/PPNeueMachina-InktrapRegular.otf);
}

@font-face {
    font-family: PP_light;
    src: url(./assets/fonts/PPNeueMachina-InktrapLight.otf);
}

@font-face {
    font-family: pixel;
    src: url(./assets/fonts/PixelColeco.otf);
}

@font-face {
    font-family: PP_plain;
    src: url(./assets/fonts/PPNeueMachina-PlainRegular.otf);
}

//#endregion fonts

//#region scrollbar

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--otherBackgroundColor);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--otherBackgroundColor);
}

//#endregion scrollbar

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: var(--pp_regular);
    font-weight: 400;
    font-size: 20px;
    padding: 0;
    margin: 0;
    transition: 0.3s ease-in-out;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-bottom: 2px solid var(--textColor);
    color: var(--textColor);
    background-color: var(--backgroundColor);

    .all {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .imgkeeper {
            transition: 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 110px;
            padding: 9px 0;

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                }
            }

            @media (min-width:576px) {
                &:hover {
                    transform: rotateY(2 * 180deg);
                }
            }
        }

        .comp_ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 6px;

            li {
                position: relative;

                a {
                    color: var(--textColor);
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -10%;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    z-index: 300;
                    background-color: var(--textColor);
                    transition: 0.3s ease-in-out;
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -10%;
                    right: 0;
                    width: 0%;
                    height: 2px;
                    z-index: 300;
                    background-color: var(--textColor);
                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    &::after {
                        width: 50%;
                    }

                    &::before {
                        width: 50%;
                    }
                }
            }
        }

        .theme {
            display: flex;
            justify-content: end;
            align-items: center;

            span {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    transition: 0.3s ease-in-out;
                    font-size: 35px;
                }
            }
        }

        .hamburger {
            display: none;
        }

        .sidebar {
            display: none;
        }
    }
}

.thin_header {
    .all {
        .imgkeeper {
            width: 60px !important;
        }

        .theme {
            svg {
                font-size: 30px !important;
            }
        }
    }
}

.home {
    margin-top: 70px;
    width: 100%;
    padding: 0;
    height: 92vh;

    .all {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        height: 100%;

        .left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: 20px;
            padding-left: 5%;
            padding-right: 3%;
            height: 100%;

            p {
                font-family: var(--pp_regular);
                width: 100%;
                text-align: center;
                font-size: 30px;

                &:nth-child(2) {
                    color: black;
                    font-family: var(--pixel);
                    font-size: 33px;
                    width: max-content;
                    height: max-content;
                    transform: rotate(-3deg);
                    padding: 3% 8%;
                    border-radius: 50px;
                    background-color: #00FF00;
                    box-shadow: 7px 7px 0px 0px var(--textColor);
                }

                &:nth-child(4) {
                    color: black;
                    font-family: var(--pixel);
                    font-size: 33px;
                    width: max-content;
                    height: max-content;
                    transform: rotate(3deg);
                    padding: 3% 8%;
                    border-radius: 50px;
                    background-color: #00FF00;
                    box-shadow: -7px -7px 0px 0px var(--textColor);
                }

                &:nth-child(5) {
                    font-size: 18px;
                    text-align: start;
                    line-height: 25px;
                    font-family: var(--pp_light);
                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    padding: 20px 0;
                    background-color: var(--otherBackgroundColor);
                    font-family: var(--pp_regular);
                    border: none;
                    outline: none;
                    color: var(--otherTextColor);
                    border: 1px solid #00FF00;
                    cursor: pointer;
                    font-size: 20px;
                }

                .icons {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    column-gap: 20px;
                    padding: 0 20px;

                    svg {
                        color: var(--textColor);
                        width: 36px;
                        height: 36px;
                    }
                }
            }
        }

        .right {
            background-color: var(--otherBackgroundColor);
            position: relative;
            height: 100%;

            .imgkeeper {
                position: absolute;

                &:nth-child(1) {
                    top: 10%;
                    left: 10%;
                    width: 25%;
                }

                &:nth-child(2) {
                    top: 10%;
                    right: 10%;
                    width: 22%;
                    transform: rotate(-15deg);
                }

                &:nth-child(3) {
                    bottom: 5%;
                    right: 15%;
                    transform: rotate(15deg);
                    width: 14%;
                }

                &:nth-child(4) {
                    bottom: 20%;
                    left: 15%;
                    transform: rotate(-15deg);
                    width: 14%;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}

.about {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .all {
        font-family: var(--pp_regular);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        row-gap: 30px;

        h1 {
            margin-bottom: 30px;
            text-align: center;
            font-size: 50px;
            width: 100%;
        }

        .textelement {
            font-size: 17px;
            font-family: var(--pp_light);
            line-height: 20px;
        }

        .element {
            display: flex;
            justify-content: space-between;
            align-items: center;

            flex-wrap: wrap;

            div {
                position: relative;

                span {
                    position: absolute;
                    top: 15%;
                    left: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateX(-50%);

                    svg {
                        fill: var(--textColor);
                        width: 80%;
                    }
                }

                p {
                    width: 100%;
                    font-family: var(--pp_plain);
                    font-size: 18px;
                    position: absolute;
                    bottom: 18%;
                    transform: translateX(-50%);
                    left: 50%;
                    text-align: center;
                }
            }

            .special {
                position: relative;

                span {
                    position: absolute;
                    bottom: 0%;
                    left: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateX(-50%);

                    svg {
                        fill: var(--textColor);
                        width: 60%;
                    }
                }

                p {
                    width: 100%;
                    font-family: var(--pp_plain);
                    font-size: 18px;
                    position: absolute;
                    top: 15%;
                    transform: translateX(-50%);
                    left: 50%;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width:576px) {
    .header {
        font-size: 15px !important;

        .all {
            position: relative;

            .imgkeeper {
                order: 2 !important;
                padding: 7px 0 !important;
                width: 90px !important;
            }

            .comp_ul {
                display: none !important;
            }

            .theme {
                order: 1 !important;
                justify-content: start !important;

                span {
                    svg {
                        font-size: 26px !important;
                    }
                }
            }

            .hamburger {
                order: 3 !important;
                display: flex;
                justify-content: end;
                align-items: center;

                svg {
                    color: var(--textColor) !important;
                    font-size: 32px !important;
                }
            }

            .sidebar {
                display: block;
                position: absolute;
                top: 100%;
                transition: 0.3s;
                right: 50%;
                transform: translateX(50%);
                width: 95%;
                height: 250px;
                background-color: var(--backgroundColor);
                color: var(--textColor);
                border: 1px solid #00FF00;
                box-shadow: 0px 0px 5px 0px #00FF00;
                border-radius: 3px;
                padding: 20px;

                .tel_ul {
                    list-style: none;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;

                    li {
                        font-size: 18px;

                        a {
                            color: var(--textColor);
                        }
                    }
                }
            }

            .close_sidebar {
                opacity: 0;
                visibility: hidden;
            }

            .open_sidebar {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .thin_header {
        .all {
            .imgkeeper {
                width: 60px !important;
            }

            .theme {
                svg {
                    font-size: 30px !important;
                }
            }
        }
    }

    .home {
        margin-top: 57px !important;
        height: 130vh !important;

        .all {

            .left {
                padding: 20px 5% !important;
                height: 60% !important;

                p {
                    font-size: 20px !important;

                    &:nth-child(2) {
                        font-size: 25px !important;
                        padding: 4% 8% !important;
                        box-shadow: 5px 5px 0px 0px var(--textColor) !important;
                    }

                    &:nth-child(4) {
                        color: black;
                        font-size: 24px !important;
                        padding: 4% 8% !important;
                        box-shadow: -5px -5px 0px 0px var(--textColor) !important;
                    }

                    &:nth-child(5) {
                        font-size: 14px !important;
                        line-height: 20px !important;
                    }
                }

                .bottom {
                    padding: 0 !important;

                    button {
                        padding: 12px 0 !important;
                        font-size: 14px !important;
                    }

                    .icons {
                        column-gap: 18px !important;
                        padding: 0 !important;

                        svg {
                            width: 28px !important;
                            height: 28px !important;
                        }
                    }
                }
            }

            .right {
                height: 40% !important;

                .imgkeeper {
                    &:nth-child(1) {
                        top: 7% !important;
                        left: 7% !important;
                    }

                    &:nth-child(2) {
                        top: 7% !important;
                        right: 7% !important;
                        width: 25% !important;
                    }

                    &:nth-child(3) {
                        right: 9% !important;
                        width: 13% !important;
                    }

                    &:nth-child(4) {
                        bottom: 17% !important;
                        left: 8% !important;
                        width: 13% !important;
                    }
                }
            }
        }
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 3;
    }

    .order-4 {
        order: 4;
    }

    .about {
        margin-top: 20px !important;

        .all {
            row-gap: 0px !important;

            h1 {
                margin-bottom: 20px !important;
                font-size: 30px !important;
            }

            .textelement {
                font-size: 15px !important;
                margin-bottom: 30px;
                line-height: 23px !important;
            }

            .element {
                margin-bottom: 30px;

                div {

                    span {
                        top: 12% !important;

                        svg {
                            width: 100% !important;
                        }
                    }

                    p {
                        font-size: 13px !important;
                        bottom: 10% !important;
                    }
                }

                .special {
                    span {
                        bottom: 0% !important;

                        svg {
                            width: 80% !important;
                        }
                    }

                    p {
                        font-size: 13px !important;
                        top: 10% !important;
                    }
                }
            }
        }
    }
}

@media(min-width:576px) and (max-width:992px) {
    .header {
        font-size: 20px !important;

        .all {
            position: relative;

            .imgkeeper {
                order: 2 !important;
                padding: 9px 0 !important;
                width: 100px !important;
            }

            .comp_ul {
                display: none !important;
            }

            .theme {
                order: 1 !important;
                justify-content: start !important;

                span {
                    svg {
                        font-size: 26px !important;
                    }
                }
            }

            .hamburger {
                order: 3 !important;
                display: flex;
                justify-content: end;
                align-items: center;

                svg {
                    color: var(--textColor) !important;
                    font-size: 32px !important;
                }
            }

            .sidebar {
                display: block;
                position: absolute;
                top: 100%;
                transition: 0.3s;
                right: 50%;
                transform: translateX(50%);
                width: 95%;
                height: 250px;
                background-color: var(--backgroundColor);
                color: var(--textColor);
                border: 1px solid #00FF00;
                box-shadow: 0px 0px 5px 0px #00FF00;
                border-radius: 3px;
                padding: 20px;

                .tel_ul {
                    list-style: none;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;

                    li {
                        font-size: 20px;

                        a {
                            color: var(--textColor);
                        }
                    }
                }
            }

            .close_sidebar {
                opacity: 0;
                visibility: hidden;
            }

            .open_sidebar {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .thin_header {
        .all {
            .imgkeeper {
                width: 60px !important;
            }

            .theme {
                svg {
                    font-size: 30px !important;
                }
            }
        }
    }

    .home {
        margin-top: 65px !important;
        height: 100vh !important;

        .all {

            .left {
                padding: 20px 5% !important;
                height: 100% !important;

                p {
                    font-size: 18px !important;

                    &:nth-child(2) {
                        font-size: 22px !important;
                        padding: 4% 8% !important;
                        box-shadow: 5px 5px 0px 0px var(--textColor) !important;
                    }

                    &:nth-child(4) {
                        color: black;
                        font-size: 22px !important;
                        padding: 4% 8% !important;
                        box-shadow: -5px -5px 0px 0px var(--textColor) !important;
                    }

                    &:nth-child(5) {
                        font-size: 13px !important;
                        line-height: 20px !important;
                    }
                }

                .bottom {
                    padding: 0 !important;

                    button {
                        padding: 12px 0 !important;
                        font-size: 12px !important;
                    }

                    .icons {
                        column-gap: 18px !important;
                        padding: 0 !important;

                        svg {
                            width: 20px !important;
                            height: 20px !important;
                        }
                    }
                }
            }

            .right {
                height: 100% !important;

                .imgkeeper {
                    &:nth-child(1) {
                        top: 7% !important;
                        width: 28% !important;
                        left: 7% !important;
                    }

                    &:nth-child(2) {
                        top: 7% !important;
                        right: 7% !important;
                        width: 25% !important;
                    }

                    &:nth-child(3) {
                        right: 9% !important;
                        width: 18% !important;
                    }

                    &:nth-child(4) {
                        bottom: 17% !important;
                        left: 8% !important;
                        width: 18% !important;
                    }
                }
            }
        }
    }

    .order-md-1 {
        order: 1;
    }

    .order-md-2 {
        order: 2;
    }

    .order-md-3 {
        order: 3;
    }

    .order-md-4 {
        order: 4;
    }

    .about {
        margin-top: 25px !important;

        .all {
            row-gap: 0px !important;

            h1 {
                margin-bottom: 20px !important;
                font-size: 35px !important;
            }

            .textelement {
                font-size: 18px !important;
                margin-bottom: 30px;
                line-height: 23px !important;
            }

            .element {
                margin-bottom: 30px;

                div {

                    span {
                        top: 20% !important;

                        svg {
                            width: 100% !important;
                        }
                    }

                    p {
                        font-size: 25px !important;
                        bottom: 10% !important;
                    }
                }

                .special {
                    span {
                        bottom: 0% !important;

                        svg {
                            width: 80% !important;
                        }
                    }

                    p {
                        font-size: 25px !important;
                        top: 10% !important;
                    }
                }
            }
        }
    }
}