* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.all {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  transition: var(--darkModeTransition);
}

:root {
  --pp_regular: PP_regular;
  --pp_light: PP_light;
  --pixel: pixel;
  --pp_plain: PP_plain;
  --darkModeTransition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  --textColor: black;
  --backgroundColor: white;
  --otherTextColor: white;
  --otherBackgroundColor: black;
}

.dark_theme {
  --textColor: white;
  --backgroundColor: black;
  --otherTextColor: black;
  --otherBackgroundColor: white;
}

body {
  transition: var(--darkModeTransition);
  background: var(--backgroundColor);
  color: var(--textColor);
}

@media (min-width: 576px) and (max-width: 992px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-md-1-2 {
    flex: 0 0 auto;
    width: 10%;
  }
  .col-md-1-5 {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .col-md-1-8 {
    flex: 0 0 auto;
    width: 15%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-2-1 {
    flex: 0 0 auto;
    width: 17.5%;
  }
  .col-md-2-3 {
    flex: 0 0 auto;
    width: 19.166%;
  }
  .col-md-2-5 {
    flex: 0 0 auto;
    width: 20.83333%;
  }
  .col-md-2-8 {
    flex: 0 0 auto;
    width: 23.3333333%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-3-5 {
    flex: 0 0 auto;
    width: 29.1666%;
  }
  .col-md-3-8 {
    flex: 0 0 auto;
    width: 31.666666%;
  }
  .col-md-3-9 {
    flex: 0 0 auto;
    width: 32.5%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-4-5 {
    flex: 0 0 auto;
    width: 37.5%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-5-5 {
    flex: 0 0 auto;
    width: 45.833333%;
  }
  .col-md-5-8 {
    flex: 0 0 auto;
    width: 48.333333%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-6-5 {
    flex: 0 0 auto;
    width: 54.166666%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-8-5 {
    flex: 0 0 auto;
    width: 70.83333%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-9-5 {
    flex: 0 0 auto;
    width: 79.166666%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-md-10-5 {
    flex: 0 0 auto;
    width: 87.5%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-1-2 {
    flex: 0 0 auto;
    width: 10%;
  }
  .col-1-5 {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .col-1-8 {
    flex: 0 0 auto;
    width: 15%;
  }
  .col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-2-1 {
    flex: 0 0 auto;
    width: 17.5%;
  }
  .col-2-3 {
    flex: 0 0 auto;
    width: 19.166%;
  }
  .col-2-5 {
    flex: 0 0 auto;
    width: 20.83333%;
  }
  .col-2-8 {
    flex: 0 0 auto;
    width: 23.3333333%;
  }
  .col-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-3-5 {
    flex: 0 0 auto;
    width: 29.1666%;
  }
  .col-3-8 {
    flex: 0 0 auto;
    width: 31.666666%;
  }
  .col-3-9 {
    flex: 0 0 auto;
    width: 32.5%;
  }
  .col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-4-5 {
    flex: 0 0 auto;
    width: 37.5%;
  }
  .col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-5-5 {
    flex: 0 0 auto;
    width: 45.833333%;
  }
  .col-5-8 {
    flex: 0 0 auto;
    width: 48.333333%;
  }
  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-6-5 {
    flex: 0 0 auto;
    width: 54.166666%;
  }
  .col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-8-5 {
    flex: 0 0 auto;
    width: 70.83333%;
  }
  .col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-9-5 {
    flex: 0 0 auto;
    width: 79.166666%;
  }
  .col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-10-5 {
    flex: 0 0 auto;
    width: 87.5%;
  }
  .col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-7-5 {
    flex: 0 0 auto;
    width: 62.5%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-lg-0-5 {
    flex: 0 0 auto;
    width: 4.16666666%;
  }
  .col-lg-0-8 {
    flex: 0 0 auto;
    width: 6.6666%;
  }
  .col-lg-0-7 {
    flex: 0 0 auto;
    width: 5.83333%;
  }
  .col-lg-1-2 {
    flex: 0 0 auto;
    width: 10%;
  }
  .col-lg-1-5 {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .col-lg-1-8 {
    flex: 0 0 auto;
    width: 15%;
  }
  .col-lg-2-2 {
    flex: 0 0 auto;
    width: 18.333333%;
  }
  .col-lg-2-4 {
    flex: 0 0 auto;
    width: 20%;
  }
  .col-lg-2-5 {
    flex: 0 0 auto;
    width: 20.8333333%;
  }
  .col-lg-2-8 {
    flex: 0 0 auto;
    width: 23.3333333%;
  }
  .col-lg-3-5 {
    flex: 0 0 auto;
    width: 29.16666666%;
  }
  .col-lg-3-8 {
    flex: 0 0 auto;
    width: 31.6666%;
  }
  .col-lg-4-5 {
    flex: 0 0 auto;
    width: 37.5%;
  }
  .col-lg-5-5 {
    flex: 0 0 auto;
    width: 45.8333%;
  }
  .col-lg-5-8 {
    flex: 0 0 auto;
    width: 48.3333333%;
  }
  .col-lg-5-9 {
    flex: 0 0 auto;
    width: 49.1666%;
  }
  .col-lg-6-5 {
    flex: 0 0 auto;
    width: 54.16666666%;
  }
  .col-lg-9-5 {
    flex: 0 0 auto;
    width: 79.16666%;
  }
}
.preloaderdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999999999999;
  top: 0;
  left: 0;
  background-color: var(--backgroundColor);
}
.preloaderdiv .preloader {
  border: 10px solid #f3f3f3;
  border-radius: 100%;
  border-top: 10px solid #00FF00;
  width: 100px;
  height: 100px;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: PP_regular;
  src: url(./assets/fonts/PPNeueMachina-InktrapRegular.otf);
}
@font-face {
  font-family: PP_light;
  src: url(./assets/fonts/PPNeueMachina-InktrapLight.otf);
}
@font-face {
  font-family: pixel;
  src: url(./assets/fonts/PixelColeco.otf);
}
@font-face {
  font-family: PP_plain;
  src: url(./assets/fonts/PPNeueMachina-PlainRegular.otf);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--otherBackgroundColor);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--otherBackgroundColor);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: var(--pp_regular);
  font-weight: 400;
  font-size: 20px;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-bottom: 2px solid var(--textColor);
  color: var(--textColor);
  background-color: var(--backgroundColor);
  transition: var(--darkModeTransition);
}
.header .all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  transition: var(--darkModeTransition);
  padding: 0;
  margin: 0;
}
.header .all .imgkeeper {
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 9px 0;
}
.header .all .imgkeeper a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .all .imgkeeper a img {
  width: 100%;
}
@media (min-width: 576px) {
  .header .all .imgkeeper:hover {
    transform: rotateY(360deg);
  }
}
.header .all .comp_ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header .all .comp_ul li {
  position: relative;
}
.header .all .comp_ul li a {
  color: var(--textColor);
}
.header .all .comp_ul li::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 0%;
  height: 2px;
  z-index: 300;
  background-color: var(--textColor);
  transition: 0.3s ease-in-out;
}
.header .all .comp_ul li::before {
  content: "";
  position: absolute;
  bottom: -10%;
  right: 0;
  width: 0%;
  height: 2px;
  z-index: 300;
  background-color: var(--textColor);
  transition: 0.3s ease-in-out;
}
.header .all .comp_ul li:hover::after {
  width: 50%;
}
.header .all .comp_ul li:hover::before {
  width: 50%;
}
.header .all .theme {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header .all .theme span {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header .all .theme span svg {
  transition: 0.3s;
  font-size: 35px;
}
.header .all .hamburger {
  display: none;
}
.header .all .sidebar {
  display: none;
}

.thin_header .all .imgkeeper {
  width: 60px !important;
}
.thin_header .all .theme svg {
  font-size: 30px !important;
}

.home {
  margin-top: 65px;
  padding: 0;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  transition: var(--darkModeTransition);
}
.home .all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  transition: var(--darkModeTransition);
}
.home .all .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 65px);
  max-height: 650px;
  min-height: 570px;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 30px;
}
.home .all .left p {
  font-family: var(--pp_regular);
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.home .all .left p:nth-child(2) {
  color: black;
  font-family: var(--pixel);
  font-size: 33px;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  transform: rotate(-3deg);
  padding: 3% 8%;
  border-radius: 50px;
  background-color: #00FF00;
  box-shadow: 7px 7px 0px 0px var(--textColor);
}
.home .all .left p:nth-child(4) {
  color: black;
  font-family: var(--pixel);
  font-size: 33px;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  transform: rotate(3deg);
  padding: 3% 8%;
  border-radius: 50px;
  background-color: #00FF00;
  box-shadow: -7px -7px 0px 0px var(--textColor);
}
.home .all .left p:nth-child(5) {
  font-size: 18px;
  text-align: start;
  line-height: 25px;
  font-family: var(--pp_light);
}
.home .all .left .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
.home .all .left .bottom button {
  padding: 20px 0;
  background-color: var(--otherBackgroundColor);
  font-family: var(--pp_regular);
  border: none;
  outline: none;
  color: var(--otherTextColor);
  border: 1px solid #00FF00;
  cursor: pointer;
  font-size: 20px;
}
.home .all .left .bottom .icons {
  display: flex;
  justify-content: end;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 0 20px;
}
.home .all .left .bottom .icons svg {
  color: var(--textColor);
  width: 36px;
  height: 36px;
}
.home .all .right {
  background-color: var(--otherBackgroundColor);
  position: relative;
  padding: 0;
  margin: 0;
}
.home .all .right .imgkeeper {
  position: absolute;
}
.home .all .right .imgkeeper:nth-child(1) {
  top: 10%;
  left: 10%;
  width: 25%;
}
.home .all .right .imgkeeper:nth-child(2) {
  top: 10%;
  right: 10%;
  width: 22%;
  transform: rotate(-15deg);
}
.home .all .right .imgkeeper:nth-child(3) {
  bottom: 5%;
  right: 15%;
  transform: rotate(15deg);
  width: 14%;
}
.home .all .right .imgkeeper:nth-child(4) {
  bottom: 20%;
  left: 15%;
  transform: rotate(-15deg);
  width: 14%;
}
.home .all .right .imgkeeper img {
  width: 100%;
}

.about {
  margin-top: 70px;
  padding: 0;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  transition: var(--darkModeTransition);
}
.about .all {
  font-family: var(--pp_regular);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  transition: var(--darkModeTransition);
}
.about .all h1 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 50px;
  width: 100%;
}
.about .all .textelement {
  font-size: 17px;
  font-family: var(--pp_light);
  line-height: 20px;
}
.about .all .element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
.about .all .element div {
  position: relative;
  padding: 0;
  margin: 0;
}
.about .all .element div span {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 15%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}
.about .all .element div span svg {
  fill: var(--textColor);
  width: 90%;
}
.about .all .element div p {
  width: 100%;
  font-family: var(--pp_plain);
  font-size: 18px;
  position: absolute;
  bottom: 18%;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
}
.about .all .element .special {
  position: relative;
  padding: 0;
  margin: 0;
}
.about .all .element .special span {
  position: absolute;
  bottom: 0%;
  padding: 0;
  margin: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}
.about .all .element .special span svg {
  fill: var(--textColor);
  width: 60%;
}
.about .all .element .special p {
  width: 100%;
  font-family: var(--pp_plain);
  font-size: 18px;
  position: absolute;
  top: 15%;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
}

.skills {
  margin-top: 70px;
  padding: 0;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  transition: var(--darkModeTransition);
  width: 100%;
  font-family: var(--pp_regular);
}
.skills .all {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  transition: var(--darkModeTransition);
}
.skills .all h1 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 50px;
  width: 100%;
}
.skills .all ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
}
.skills .all ul li {
  margin: 0;
  padding: 10px 15px 7px 15px;
  border: 1px solid #00FF00;
  transition: var(--darkModeTransition);
  font-size: 18px;
  cursor: pointer;
}
.skills .all ul .active {
  background-color: #00FF00;
  color: var(--otherTextColor);
}
.skills .all .iteratedskills {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}
.skills .all .iteratedskills .skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--textColor);
  font-family: var(--pp_plain);
  padding-top: 100%;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.skills .all .iteratedskills .skill:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 10px 0px var(--textColor);
}
.skills .all .iteratedskills .skill span {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills .all .iteratedskills .skill span svg {
  font-size: 40px;
}
.skills .all .iteratedskills .skill p {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 90%;
  font-size: 17px;
}

.projects {
  margin-top: 70px;
  padding: 0;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  transition: var(--darkModeTransition);
  width: 100%;
  font-family: var(--pp_regular);
}
.projects .all {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  transition: var(--darkModeTransition);
}
.projects .all h1 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 50px;
  width: 100%;
}
.projects .all .categories {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  list-style: none;
}
.projects .all .categories li {
  margin: 0;
  padding: 10px 15px 7px 15px;
  border: 1px solid #00FF00;
  transition: var(--darkModeTransition);
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}
.projects .all .categories .active {
  background-color: #00FF00;
  color: var(--otherTextColor);
}
.projects .all .slick-dots li {
  background-color: var(--otherBackgroundColor);
}
.projects .all .slick-dots li button {
  opacity: 0;
  visibility: hidden;
}
.projects .all .slick-next {
  background-color: var(--backgroundColor);
  transition: var(--darkModeTransition);
  color: var(--textColor);
  width: 35px;
  height: 35px;
  right: -40px;
}
.projects .all .slick-prev {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  transition: var(--darkModeTransition);
  width: 35px;
  height: 35px;
  left: -40px;
}
.projects .all .iteratedprojects {
  margin: 0;
  padding: 0;
}
.projects .all .iteratedprojects .project {
  padding: 0;
  margin: 0;
  padding: 10px;
}
.projects .all .iteratedprojects .project .projectitems {
  font-family: var(--pp_plain);
  cursor: pointer;
  padding: 0;
  margin: 0;
  min-height: 430px;
  position: relative;
}
.projects .all .iteratedprojects .project .projectitems .imgkeeper {
  overflow: hidden;
  -webkit-clip-path: polygon(15% 0, 85% 0%, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0% 85%, 0 15%);
          clip-path: polygon(15% 0, 85% 0%, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0% 85%, 0 15%);
  background-color: var(--otherBackgroundColor);
  position: relative;
  padding-top: 100%;
  width: 100%;
}
.projects .all .iteratedprojects .project .projectitems .imgkeeper span {
  color: var(--otherTextColor);
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.projects .all .iteratedprojects .project .projectitems .imgkeeper img {
  width: 100%;
}
.projects .all .iteratedprojects .project .projectitems p {
  position: absolute;
  text-align: center;
  width: 100%;
}
.projects .all .iteratedprojects .project .projectitems p:nth-child(2) {
  top: 71%;
  left: 0;
  font-size: 18px;
  font-family: var(--pp_regular);
}
.projects .all .iteratedprojects .project .projectitems p:nth-child(3) {
  top: 79%;
  left: 0;
  font-family: var(--pp_light);
  font-size: 14px;
}
.projects .all .iteratedprojects .project .projectitems .links {
  position: absolute;
  bottom: 0%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 10px;
  margin-top: 15px;
}
.projects .all .iteratedprojects .project .projectitems .links a {
  text-decoration: underline;
  color: #00FF00;
  display: block;
  width: 50%;
  font-size: 14px;
}
.projects .all .iteratedprojects .project .projectitems .links .websitelink {
  text-align: start;
}
.projects .all .iteratedprojects .project .projectitems .links .projectlink {
  text-align: end;
}

@media (max-width: 576px) {
  .header {
    font-size: 15px;
  }
  .header .all {
    position: relative;
  }
  .header .all .imgkeeper {
    order: 2;
    padding: 7px 0;
    width: 70px;
  }
  .header .all .comp_ul {
    display: none;
  }
  .header .all .theme {
    order: 1;
    justify-content: start;
    padding: 0;
    margin: 0;
  }
  .header .all .theme span svg {
    font-size: 26px;
  }
  .header .all .hamburger {
    order: 3;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .header .all .hamburger svg {
    color: var(--textColor);
    font-size: 32px;
  }
  .header .all .sidebar {
    display: block;
    position: absolute;
    top: 100%;
    transition: 0.3s;
    right: 50%;
    transform: translateX(50%);
    width: 95%;
    height: 250px;
    padding: 0;
    margin: 0;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    border: 1px solid #00FF00;
    box-shadow: 0px 0px 5px 0px #00FF00;
    border-radius: 3px;
    padding: 20px;
  }
  .header .all .sidebar .tel_ul {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .header .all .sidebar .tel_ul li {
    font-size: 18px;
  }
  .header .all .sidebar .tel_ul li a {
    color: var(--textColor);
  }
  .header .all .close_sidebar {
    opacity: 0;
    visibility: hidden;
  }
  .header .all .open_sidebar {
    opacity: 1;
    visibility: visible;
  }
  .thin_header .all .imgkeeper {
    width: 60px;
  }
  .thin_header .all .theme svg {
    font-size: 30px;
  }
  .home {
    margin-top: 48px;
  }
  .home .all .left {
    height: 450px;
    padding: 20px 5%;
    min-height: unset;
    max-height: unset;
  }
  .home .all .left p {
    font-size: 20px;
  }
  .home .all .left p:nth-child(2) {
    font-size: 25px;
    padding: 4% 8%;
    box-shadow: 5px 5px 0px 0px var(--textColor) !important;
  }
  .home .all .left p:nth-child(4) {
    color: black;
    font-size: 24px;
    padding: 4% 8%;
    box-shadow: -5px -5px 0px 0px var(--textColor) !important;
  }
  .home .all .left p:nth-child(5) {
    font-size: 14px;
    line-height: 20px;
  }
  .home .all .left .bottom {
    padding: 0;
  }
  .home .all .left .bottom button {
    padding: 12px 0;
    font-size: 14px;
  }
  .home .all .left .bottom .icons {
    -moz-column-gap: 18px;
         column-gap: 18px;
    padding: 0;
  }
  .home .all .left .bottom .icons svg {
    width: 30px;
    height: 30px;
  }
  .home .all .right {
    height: 400px;
  }
  .home .all .right .imgkeeper:nth-child(1) {
    top: 7%;
    left: 7%;
  }
  .home .all .right .imgkeeper:nth-child(2) {
    top: 7%;
    right: 7%;
    width: 25%;
  }
  .home .all .right .imgkeeper:nth-child(3) {
    right: 9%;
    width: 13%;
  }
  .home .all .right .imgkeeper:nth-child(4) {
    bottom: 17%;
    left: 8%;
    width: 13%;
  }
  .about {
    margin-top: 30px;
    padding: 0;
  }
  .about .all h1 {
    margin-bottom: 0px;
    font-size: 40px;
  }
  .about .all .textelement {
    font-size: 15px;
  }
  .about .all .element div p {
    font-size: 15px;
  }
  .about .all .element .special p {
    font-size: 15px;
  }
  .skills {
    margin-top: 30px;
  }
  .skills .all h1 {
    font-size: 30px;
  }
  .skills .all ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    justify-content: unset;
    align-items: center;
    flex-wrap: unset;
  }
  .skills .all ul li {
    padding: 7px 10px 4px 10px;
    text-align: center;
    font-size: 16px;
  }
  .skills .all ul .active {
    background-color: #00FF00;
    color: var(--otherTextColor);
  }
  .skills .all .iteratedskills {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .skills .all .iteratedskills .skill span {
    top: 10%;
  }
  .skills .all .iteratedskills .skill span svg {
    font-size: 35px;
  }
  .skills .all .iteratedskills .skill p {
    bottom: 8%;
    font-size: 14px;
  }
  .skills .all .iteratedskills .skill:hover {
    transform: unset;
    box-shadow: unset;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .header {
    font-size: 18px;
  }
  .header .all {
    position: relative;
  }
  .header .all .imgkeeper {
    order: 2;
    padding: 7px 0;
    width: 80px;
  }
  .header .all .comp_ul {
    display: none;
  }
  .header .all .theme {
    order: 1;
    justify-content: start;
    padding: 0;
    margin: 0;
  }
  .header .all .theme span svg {
    font-size: 26px;
  }
  .header .all .hamburger {
    order: 3;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .header .all .hamburger svg {
    color: var(--textColor);
    font-size: 32px;
  }
  .header .all .sidebar {
    display: block;
    position: absolute;
    top: 100%;
    transition: 0.3s;
    right: 50%;
    transform: translateX(50%);
    width: 95%;
    height: 250px;
    padding: 0;
    margin: 0;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    border: 1px solid #00FF00;
    box-shadow: 0px 0px 5px 0px #00FF00;
    border-radius: 3px;
    padding: 20px;
  }
  .header .all .sidebar .tel_ul {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .header .all .sidebar .tel_ul li {
    font-size: 18px;
  }
  .header .all .sidebar .tel_ul li a {
    color: var(--textColor);
  }
  .header .all .close_sidebar {
    opacity: 0;
    visibility: hidden;
  }
  .header .all .open_sidebar {
    opacity: 1;
    visibility: visible;
  }
  .thin_header .all .imgkeeper {
    width: 60px !important;
  }
  .thin_header .all .theme svg {
    font-size: 30px !important;
  }
  .home {
    margin-top: 53px;
  }
  .home .all .left {
    height: 500px;
    min-height: unset;
    max-height: unset;
    padding: 20px 5%;
  }
  .home .all .left p {
    font-size: 20px;
  }
  .home .all .left p:nth-child(2) {
    font-size: 24px;
    padding: 4% 8%;
    box-shadow: 5px 5px 0px 0px var(--textColor) !important;
  }
  .home .all .left p:nth-child(4) {
    color: black;
    font-size: 23px;
    padding: 4% 8%;
    box-shadow: -5px -5px 0px 0px var(--textColor) !important;
  }
  .home .all .left p:nth-child(5) {
    font-size: 16px;
    line-height: 20px;
  }
  .home .all .left .bottom {
    padding: 0;
  }
  .home .all .left .bottom button {
    padding: 12px 0;
    font-size: 12px;
  }
  .home .all .left .bottom .icons {
    -moz-column-gap: 10px;
         column-gap: 10px;
    padding: 0;
  }
  .home .all .left .bottom .icons svg {
    width: 30px;
    height: 30px;
  }
  .home .all .right .imgkeeper:nth-child(1) {
    top: 7%;
    left: 7%;
  }
  .home .all .right .imgkeeper:nth-child(2) {
    top: 7%;
    right: 7%;
    width: 25%;
  }
  .home .all .right .imgkeeper:nth-child(3) {
    right: 9%;
    width: 13%;
  }
  .home .all .right .imgkeeper:nth-child(4) {
    bottom: 17%;
    left: 8%;
    width: 13%;
  }
  .about {
    margin-top: 30px;
    padding: 0;
  }
  .about .all h1 {
    margin-bottom: 0px;
    font-size: 40px;
  }
  .about .all .textelement {
    font-size: 18px;
  }
  .about .all .element div p {
    font-size: 18px;
  }
  .about .all .element .special p {
    font-size: 18px;
  }
  .skills {
    margin-top: 30px;
  }
  .skills .all h1 {
    font-size: 40px;
  }
  .skills .all ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    justify-content: unset;
    align-items: center;
    flex-wrap: unset;
  }
  .skills .all ul li {
    padding: 7px 10px 4px 10px;
    text-align: center;
    font-size: 16px;
  }
  .skills .all ul .active {
    background-color: #00FF00;
    color: var(--otherTextColor);
  }
  .skills .all .iteratedskills {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
  .skills .all .iteratedskills .skill span {
    top: 15%;
  }
  .skills .all .iteratedskills .skill span svg {
    font-size: 50px;
  }
  .skills .all .iteratedskills .skill p {
    bottom: 10%;
    font-size: 16px;
  }
  .skills .all .iteratedskills .skill:hover {
    transform: unset;
    box-shadow: unset;
  }
}/*# sourceMappingURL=App.css.map */